link(rel="stylesheet",href="/libs/bootstrap/css/bootstrap.min.css")
script(type="text/javascript",src="/libs/jquery/jquery.min.js")
script(type="text/javascript",src="/libs/bootstrap/js/bootstrap.js")