nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/",title="同学聚会图册") 同学聚会图册
      p.navbar-text 追忆往昔的时光，记录当前快乐瞬间
    a.btn.btn-success.pull-right(style="margin-top:6px;") 上传相片